body {
  font-family: Roboto, sans-serif;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr::after {
  background: #fff;
  content: 'â–';
  padding: 0 4px;
  position: relative;
  top: -11px;
}

h2 {
  margin-bottom: 1px;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 32px 0;
}

table {
  width: 100%;
}

table.endpoints > tbody > tr:nth-child(odd) {
  background-color: #eee;
}

table.endpoints > thead > tr > th {
  text-align: left;
}

table.endpoints > tbody > tr > td {
  padding: 6px 10px;
}

section {
  border: 1px solid #999;
  border-radius: 3px;
  margin-top: 16px;
  padding: 12px 14px 12px 14px;
}

h3 {
  margin-bottom: 0;
}

dl {
  margin: 0;
}

dt {
  float: left;
  clear: left;
  text-align: right;
  font-weight: bold;
}

dd {
  margin: 0 0 0 60px;
  padding: 0;
}

td.api-examples {
  padding: 10px 0 !important;
}

td.api-examples > table > tbody > tr > th,
td.api-examples > table > tbody > tr > td {
  padding: 0;
}

td.api-examples > table > tbody > tr > th {
  text-align: left;
}

td.api-examples > table > tbody > tr > td > pre {
  margin: 0;
  background-color: #333;
  color: white;
  border-radius: 3px;
  padding: 10px 14px;
}
